
<p>~~~~~~~~~~~~~~~~~~~~~~~~</p>
<h1>Hey, Welcome to My Final Project</h1>
<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<h2>Hope You Like. Click the clock+ logo or showcase to access main page</h2>

<%= image_tag "DSCN2405.jpg", size: "1000x300"%>
