<footer class="navbar navbar-fixed-bottom navbar-inverse">
   
    <ul class="nav navbar-nav navbar-left">
    <small>
        <li>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</li>
        <li> Clock+</li>
        <li> s3785277@student.rmit.edu</li>
        <li> s3785277 - PASS LEVEL</li>
        <li>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</li>
    </small>
    </ul>

    <h5>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to fa_icon("facebook"), 'https://www.facebook.com/' %></li>
        <li><%= link_to fa_icon("twitter"), "https://twitter.com/explore" %></li>
        <li><%= link_to fa_icon("linkedin"), "https://au.linkedin.com/" %></li>

    </ul>
    </h5>
</footer>