<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <%= link_to "Clock+", '/Clocks', id: "logo" %>

            <h2>     
            <ul class="nav navbar-nav navbar-right">
                <%= link_to "ShowCase", '/Clocks', class: "btn btn-lg btn-primary"%>
            
                <a href = "mailto:s3785277@student.rmit.edu">Contact Us.</a>
          </ul>
          </h2>

      </div>
    </header>
